/*navigation part*/
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 20px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/*home section part*/


#home{
    height: 400px;
    padding: 3px 68px;
    
}

#home::before{
    height: 420px;
    
}

#home p{
    font-size: 13px;
}
/*services section part start*/


#services{
    flex-direction: column;
}

/*client section part start*/

#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 2px 6px;
    height: auto;
}

/*contact-us section part start*/

#contact-box form{
    width: 80%;
}

/*footer section part start*/

/*utility classes*/

.h-primary{
    font-size: 35px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}


